@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("./assets/fonts/Poppins-Bold.ttf");
}

:root {
    --white: #ffffff;
    --blue: #a18aff;
    --lilac: #ca8bfe;
    --cyan: #3fd4f4;
    --pink: #fd99af;
    --gray: #717082;
    --yellow: #fac608;
    --light-cyan: #99e6f9;
    --light-pink: #febccd;
    --light-yellow: #fddd65;
    font-size: 26px;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
    color: var(--gray);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

p {
    margin: 0;
    display: inline;
}

h1{
    font-family: "Poppins Bold", sans-serif;
    letter-spacing: 0.05rem;
}

.flex-grow{
    flex-grow: 1;
}

#side_menu {
    font-family: "Poppins", sans-serif;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 8rem 3rem;
    gap: 3rem;
}

.img_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_wrap > img {
    width: 100%;
}

.side_menu_card {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 20px;
    align-items: center;
}

.side_menu_card ul {
    grid-column: 2 / 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    gap: 1rem;
}

.side_menu_card ul li {
    position: relative;
    margin: 10px 0;
}

.side_menu_card ul li span {
    position: relative;
    left: 40px;
}

.side_menu_card ul li::before {
    content: 'â—';
    position: absolute;
    top: -5px;
    font-size: 1.2rem;
}

.side_menu_card ul li:first-child::before {
    color: var(--pink);
}

.side_menu_card ul li:nth-child(2)::before {
    color: var(--cyan);
}

.side_menu_card ul li:last-child::before {
    color: var(--yellow);
}

@media (max-width: 1300px) {
    .side_menu_card {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 10px;
    }

    .side_menu_card ul {
        grid-column: 1 / -1;
    }

    .side_menu_card p{
        text-align: center;
    }

    .img_wrap > img {
        width: 60px;
    }
}

.clickable_text {
    cursor: pointer;
}

#main {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 2.4rem 6rem;
    color: var(--white);
}

.task_form{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task_form > * {
    flex-shrink: 1;
    min-width: 0;
}

.task_form img{
    color: var(--pink);
}

.radio_wrap{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.radio_wrap > * {
    appearance: none;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 0 2px transparent; /* Default shadow is transparent */
    transition: 0.3s;
}

.ping_btn{
    background-color: var(--light-pink);
}

.ping_btn:checked{
    background-color: var(--pink);
}

.cyan_btn{
    background-color: var(--light-cyan);
}

.cyan_btn:checked{
    background-color: var(--cyan);
}

.yellow_btn{
    background-color: var(--light-yellow);
}

.yellow_btn:checked{
    background-color: var(--yellow);
}

#task_name{
    border: none;
    color: var(--gray);
}

#task_name::placeholder {
    opacity: 0.3;
}

#task_name:focus {
    outline: none;
}

.date_wrap,
.time_wrap {
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#date_val{
    width: 135px;
}

#date_icon,
#time_icon{
    width: 36px;
}

#date,
#time {
    opacity: 0;
    width: 0;
}
